.side
  %ul.side__list
    %li.btn
      = link_to item_favorites_path(current_user) do
        .text お気に入り商品
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to do
        .text 出品した商品-出品中
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to do
        .text 出品した商品-取引中
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to do
        .text 出品した商品-売却済み
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to do
        .text 出品した商品-取引中
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to do
        .text 出品した商品-過去の取引
        =icon("fas", "chevron-right", class: "arrow")
  %ul.side__list
    %p 設定
    %li.btn
      = link_to edit_address_path(current_user) do
        .text 発送元・お届け先住所変更
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to creditcards_path(current_user) do
        .text クレジットカード登録・削除
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to user_edit_detail_path(current_user) do
        .text メールアドレス・パスワード変更
        =icon("fas", "chevron-right", class: "arrow")
    %li.btn
      = link_to logout_mypage_index_path do
        .text ログアウト
        =icon("fas", "chevron-right", class: "arrow")
