= form_with model: @user, url: user_registration_path, local:true do |f|
  -# = render "devise/shared/error_messages", resource: @user
  
  .new_session-wrapper
    .new_session-wrapper__logo
      = render "devise/sessions/header"

    .new_session-wrapper__main     
      .new_session-wrapper__main__head
        会員情報入力
      .new_session-wrapper__main__title
        ニックネーム
        %span{class: "require"} 必須
        = f.text_field :nickname, {class: "new_session-wrapper__main__text", placeholder: "例)フリマ太郎"}
        - if resource.errors.include? :nickname
          %p{style: "color: red;"}
            ニックネームを入力してください

      .new_session-wrapper__main__title
        メールアドレス
        %span{class: "require"} 必須
        = f.text_field :email, {class: "new_session-wrapper__main__text", placeholder: "PC・携帯どちらでも可"}
        - if resource.errors.include? :email
          %p{style: "color: red;"}
            メールアドレスを入力してください
      
      .new_session-wrapper__main__title
        パスワード
        %span{class: "require"} 必須
        = f.password_field :password, {class: "new_session-wrapper__main__text", placeholder: "7文字以上"}
        - if resource.errors.include? :password
          %p{style: "color: red;"}
            パスワードを入力してください
      
      
      .new_session-wrapper__main__title
        パスワード(確認)
        %span{class: "require"} 必須
        = f.password_field :password_confirmation, {class: "new_session-wrapper__main__text", placeholder: "7文字以上"}
        - if resource.errors.include? :password_confirmation
          %p{style: "color: red;"}
            パスワード（確認）入力してください



      .new_session-wrapper__main__title
        お名前(全角)
        %span{class: "require"} 必須
        .flexbox
          = f.text_field :firstname, {class: "new_session-wrapper__main__text text-half", placeholder: "例)山田"}
          = f.text_field :lastname, {class: "new_session-wrapper__main__text text-half", placeholder: "例)彩"}
        - if resource.errors.include? :firstname
          %p{style: "color: red;"}
            名字を入力してください
        - if resource.errors.include? :lastname
          %p{style: "color: red;"}
            名前を入力してください

      .new_session-wrapper__main__title
        お名前カナ(全角)
        %span{class: "require"} 必須
        .flexbox
          = f.text_field :firstname_kana, {class: "new_session-wrapper__main__text text-half", placeholder: "例)ヤマダ"}
          = f.text_field :lastname_kana, {class: "new_session-wrapper__main__text text-half", placeholder: "例)アヤ"}
        - if resource.errors.include? :firstname_kana
          %p{style: "color: red;"}
            名字（カナ）を入力してください
        - if resource.errors.include? :lastname_kana
          %p{style: "color: red;"}
            名前（カナ）を入力してください
      
      .new_session-wrapper__main__title
        生年月日
        %span{class: "require"} 必須
        .flexbox
          - year = []
          - for num in 0..100
            - year << 2020-num
          = f.select :birth_year, year, {prompt: "--"}, class: "new_session-wrapper__main__select1 three-select"
          年
          - if resource.errors.include? :birth_year
            %p{style: "color: red;"}
              年を入力してください

          - month = []
          - for num in 1..12
            - month << num
          = f.select :birth_month, month, {prompt: "--"}, class: "new_session-wrapper__main__select1 three-select"
          月
          - if resource.errors.include? :birth_month
            %p{style: "color: red;"}
              月を入力してください
          
          - day = []
          - for num in 1..31
            - day << num
          = f.select :birth_day, day, {prompt: "--"}, class: "new_session-wrapper__main__select1 three-select"
          日  
          - if resource.errors.include? :birth_day
            %p{style: "color: red;"}
              日を入力してください
      
      
      
      .new_session-wrapper__main__caution
        ※本人情報は正しく入力してください。会員登録後、お時間を頂く場合があります。
        = f.submit "Next", class: 'new_session-wrapper__main__btn'
    = render "devise/sessions/footer"
