.detail_search
  = search_form_for(@q,url: searches_path) do |f|
    .detail_search__sort
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
    .detail_search_form
      .detail_search__title
        %h3 詳細検索
      .detail_search__group
        .detail_search__group--label
          = icon("fas", "search")
          %p キーワードを追加する
        = f.search_field :name_cont, placeholder: "例）値下げ"
      .detail_search__group
        .detail_search__group--label
          = icon("fas", "search")
          %p 価格
        .detail_search__group--forms
          = f.search_field :price_gteq, placeholder: "¥ Min"
          %p 〜
          = f.search_field :price_lteq, placeholder: "¥ Max"
        .input-form-box
          %label 商品の状態を指定する
          = f.collection_select :condition_id_eq, Condition.all, :id, :name, {prompt: "選択してください"}, class: "detail_search__status"
        .input-form-box
          %label 配送料の負担　　　　　
          = f.collection_select :postage_id_eq, Postage.all, :id, :name, {prompt: "選択してください"}, class: "detail_search__postage"
        .input-form-box
          %label 発送元の地域　　　　　　　　　
          = f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, {prompt: "選択してください"}, class: "detail_search__prefecture"   

        .detail_search__btns
          .detail_search__btn--grey{ id:"search-clear",class:"detail_search__btn--grey"}
            クリア　
          = f.submit "完了",class:"detail_search__btn--red",id:'search_submit'


