= render "/items/templates/subheader"

.purchase
  -# - breadcrumb :purchase
  -# = render "layouts/breadcrumbsitem"
  .purchase__main
    .purchase__main__title
      .purchase__main__title__text
        購入内容の確認
    .border
    .purchase__main__contents
      = image_tag @item.images[0].image.to_s, size:"100x100"
      .purchase__main__contents__right
        = @item.name
        = "¥#{@item.price}(税込み)"
        %p 送料込み
    .border
    .purchase__main__title
      .purchase__main__title__text
        .price-box
          %p 支払い金額
          = "¥#{@item.price.to_s}"
    .border      
    .purchase__main__title
      .purchase__main__title__text
        支払い方法
        - if @default_card_information.blank?
          %br /
        - else
          = "**** **** **** " + "#{@default_card_information.last4}"
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = "有効期限 " + exp_month + " / " + exp_year
          %br
        = link_to "変更する", creditcards_path, calss:"update-btn"
    .border
    .purchase__main__title
      .purchase__main__title__text
        配送先 
        %p 〒#{@address.post_number} 
        %p #{@address.prefecture.name + @address.local + @address.local_number + @address.building}
        - if @address.building.present? && @address.tel_number.present?
          = "#{@address.building}"
          %br
          = "Tell #{@address.tel_number}"
          %br
        - elsif @address.tel_number.blank?
          = "#{@address.building}"
          %br
        - elsif @address.building.blank?
          = "Tell #{@address.tel_number}"
          %br
        %br
      .purchase__main__title__text__bottom
      .purchase__submit
      = form_with url: pay_item_path, local: true do |f|
        = f.submit "購入する", class: "purchase__submit__button"
      %p.caution 
        ※郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。
        出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。

= render "/items/templates/subfooter"