= render "/items/header"

.main
  .show-main
    .topcontents
      .itembox
        %h1.name
          = @item.name
        .itembox__body
          %ul
            %li
              = image_tag @item.images[0].image.to_s, size:"560x346", class:"firstimage"
              %ul
                -@item.images.each do |image|
                  %li
                    = image_tag image.image.to_s, size:"140x87", class:"imagelist"

        .itembox__price
          = "Â¥#{@item.price}"
          .itembox__price--detail
            %span (ç¨Žè¾¼)
            %span é€æ–™è¾¼ã¿
        .itembox__description
          = @item.description
        .table
          %table
            %tbody
              %tr
                %th 
                  å‡ºå“è€…
                %td 
                  =@item.seller.nickname
              %tr
                %th 
                  ã‚«ãƒ†ã‚´ãƒªãƒ¼
                %td
                  = link_to "/categories/#{@item.category.parent.parent.id}/parent", class: "categories" do
                    = @parent.name
                  = link_to "/categories/#{@item.category.parent.id}/child", class: "categories" do
                    = @child.name
                  = link_to "/categories/#{@item.category.id}/grandchild", class: "categories" do
                    = @grandchild.name
              %tr
                %th 
                  ãƒ–ãƒ©ãƒ³ãƒ‰
                %td
                  = @item.brand
              %tr
                %th 
                  å•†å“ã®ã‚µã‚¤ã‚º
                %td
                  = @item.size	
              %tr
                %th 
                  å•†å“ã®çŠ¶æ…‹
                %td 
                  = @item.condition_id
              %tr
                %th 
                  é…é€æ–™ã®è² æ‹…
                %td 
                  é€æ–™è¾¼ã¿ï¼ˆå‡ºå“è€…è² æ‹…ï¼‰
              %tr
                %th 
                  ç™ºé€å…ƒã®åœ°åŸŸ
                %td
                  = @item.prefecture.name
              %tr
                %th 
                  ç™ºé€æ—¥ã®ç›®å®‰
                %td 
                  = @item.shipping_days_id
        
        .optonalarea
          .optonalarea__favoritebtn
            - if user_signed_in?
              #favoritebtn
                = render partial: 'favorites/favorite', locals: {item: @item}
            - else
              .favoritebtn_login
                = link_to "â­ï¸Žãƒ­ã‚°ã‚¤ãƒ³ã—ã¦ãŠæ°—ã«å…¥ã‚Šã«ç™»éŒ²ã™ã‚‹", new_user_session_path
            
          .optonalarea__optonalbtn
            = link_to "ðŸ´ ä¸é©åˆ‡ãªå•†å“ã®å ±å‘Š", "#"
          
        .show_purchasebox
          - if user_signed_in? && current_user.id == @item.seller_id
            .item-editbtn
              = link_to "å•†å“ç·¨é›†", edit_item_path
              = link_to "å•†å“å‰Šé™¤", item_path(@item), method: :delete
          - else
            .show_purchasebtn
              = link_to "è³¼å…¥ã™ã‚‹", purchase_item_path(@item.id)
          
      .commentbox
        = render "/items/comment"
        -# .commentbox__newcontent
        -#   %form
        -#     %input.text

        -# .commentbox__noticemsg
        -#   ç›¸æ‰‹ã®ã“ã¨ã‚’è€ƒãˆä¸å¯§ãªã‚³ãƒ¡ãƒ³ãƒˆã‚’å¿ƒãŒã‘ã¾ã—ã‚‡ã†ã€‚
        -#   %br ä¸å¿«ãªè¨€è‘‰é£ã„ãªã©ã¯åˆ©ç”¨åˆ¶é™ã‚„é€€ä¼šå‡¦åˆ†ã¨ãªã‚‹ã“ã¨ãŒã‚ã‚Šã¾ã™ã€‚
          
        -# %button.commentbox__commentbtn
        -#   =icon('fa','comment', class: "commentbtn-icon")
        -#   ã‚³ãƒ¡ãƒ³ãƒˆã™ã‚‹

      .links
        %ur
          %li
            = link_to "#", class: "right" do
              æ¬¡ã®å•†å“ >
          %li
            = link_to "#", class: "left" do
              < å‰ã®å•†å“

    .relateditems
      = link_to "ãƒ™ãƒ“ãƒ¼ãƒ»ã‚­ãƒƒã‚ºã‚’ã‚‚ã£ã¨è¦‹ã‚‹", "#", class: "itemlists" 

= render "/items/banner"
= render "/items/footer"