.main
  .show-main
    .topcontents
      .itembox
        .itembox__name
          %h2 item
        .itembox__body
          %ul
            %li
              = image_tag "a004.png", class:"firstimage"
            %ul
              %li
                = image_tag "a005.png", class:"imagelist"
                = image_tag "a006.png", class:"imagelist"
                = image_tag "a007.png", class:"imagelist"

        .itembox__price
          %span ¥30000
          .itembox__price--detail
            %span (税込)
            %span 送料込み
        .itembox__itemdetail
          %p 親譲りの無鉄砲で小供の時から損ばかりしている。
          小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。
          なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。
          新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、
          そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。

        .table
          %table
            %tbody
              %tr
                %th 出品者
                %td
              %tr
                %th カテゴリー
                %td
              %tr
                %th ブランド
                %td 
              %tr
                %th 商品のサイズ
                %td 
              %tr
                %th 商品の状態
                %td
              %tr
                %th 配送料の負担
                %td 
              %tr
                %th 発送元の地域
                %td
              %tr
                %th 発送日の目安
                %td 
        
        .optonalarea
          %ul
            %li.optonalarea__likebtn
              =icon('fa','star')
              お気に入り
          %ul
            %li.optonalarea__optonalbtn
              =icon('fa','flag')
              不適切な商品の通報
      
      .itemchangebox
        = link_to "#" do
          %button.itemchangebox__buybtn
            購入画面に進む

      .commentbox
        .commentbox__newcontent
          %form
            %input.text

        .commentbox__noticemsg
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
          
        %button.commentbox__commentbtn
          =icon('fa','fa-comment')
          コメントする

      .links
        %ur
          %li
            = link_to "#", class: "right" do
              次の商品 >
          %li
            = link_to "#", class: "left" do
              < 前の商品