= render "/items/header"


.main
  .show-main
    .topcontents
      .itembox
        %h1.itembox__name
          item
        .itembox__body
          %ul
            %li
              = image_tag "a004.png", size:'560x346', class:"firstimage"
              %ul
                %li
                  = image_tag "a005.png", size:'140x87', class:"imagelist"
                  = image_tag "a006.png", size:'140x87', class:"imagelist"
                  = image_tag "a007.png", size:'140x87', class:"imagelist"

        .itembox__price
          %span Â¥30000
          .itembox__price--detail
            %span (ç¨Žè¾¼)
            %span é€æ–™è¾¼ã¿
        .itembox__itemdetail
          %p 
          è¦ªè­²ã‚Šã®ç„¡é‰„ç ²ã§å°ä¾›ã®æ™‚ã‹ã‚‰æã°ã‹ã‚Šã—ã¦ã„ã‚‹ã€‚
          å°å­¦æ ¡ã«å±…ã‚‹æ™‚åˆ†å­¦æ ¡ã®äºŒéšŽã‹ã‚‰é£›ã³é™ã‚Šã¦ä¸€é€±é–“ã»ã©è…°ã‚’æŠœã‹ã—ãŸäº‹ãŒã‚ã‚‹ã€‚
          ãªãœãã‚“ãªç„¡é—‡ã‚’ã—ãŸã¨èžãäººãŒã‚ã‚‹ã‹ã‚‚çŸ¥ã‚Œã¬ã€‚åˆ¥æ®µæ·±ã„ç†ç”±ã§ã‚‚ãªã„ã€‚
          æ–°ç¯‰ã®äºŒéšŽã‹ã‚‰é¦–ã‚’å‡ºã—ã¦ã„ãŸã‚‰ã€åŒç´šç”Ÿã®ä¸€äººãŒå†—è«‡ã«ã€ã„ãã‚‰å¨å¼µã£ã¦ã‚‚ã€
          ãã“ã‹ã‚‰é£›ã³é™ã‚Šã‚‹äº‹ã¯å‡ºæ¥ã¾ã„ã€‚å¼±è™«ã‚„ãƒ¼ã„ã€‚ã¨å›ƒã—ãŸã‹ã‚‰ã§ã‚ã‚‹ã€‚

        .table
          %table
            %tbody
              %tr
                %th 
                  å‡ºå“è€…
                %td 
                  hoge
              %tr
                %th 
                  ã‚«ãƒ†ã‚´ãƒªãƒ¼
                %td
                  = link_to "ãƒ™ãƒ“ãƒ¼ãƒ»ã‚­ãƒƒã‚º", "#", class: "categorys"
                  %br
                  = link_to "ãƒ™ãƒ“ãƒ¼æœ(ç”·å¥³å…¼ç”¨)~95cm", "#", class: "categorys"
                  %br
                  = link_to "ã‚¢ã‚¦ã‚¿ãƒ¼", "#", class: "categorys"
              %tr
                %th 
                  ãƒ–ãƒ©ãƒ³ãƒ‰
                %td 
              %tr
                %th 
                  å•†å“ã®ã‚µã‚¤ã‚º
                %td 
              %tr
                %th 
                  å•†å“ã®çŠ¶æ…‹
                %td 
                  æœªä½¿ç”¨ã«è¿‘ã„
              %tr
                %th 
                  é…é€æ–™ã®è² æ‹…
                %td 
                  é€æ–™è¾¼ã¿ï¼ˆå‡ºå“è€…è² æ‹…ï¼‰
              %tr
                %th 
                  ç™ºé€å…ƒã®åœ°åŸŸ
                %td 
                  = link_to "å²©æ‰‹çœŒ", "#", class: "prefectures"
              %tr
                %th 
                  ç™ºé€æ—¥ã®ç›®å®‰
                %td 
                  4-7æ—¥ã§ç™ºé€
        
        .optonalarea
          .optonalarea__likebtn
            =icon('fa','fa-star',class: "star")
            ãŠæ°—ã«å…¥ã‚Š 0
            
          .optonalarea__optonalbtn
            = link_to "ðŸ´ ä¸é©åˆ‡ãªå•†å“ã®å ±å‘Š", "#"

      .commentbox
        .commentbox__newcontent
          %form
            %input.text

        .commentbox__noticemsg
          ç›¸æ‰‹ã®ã“ã¨ã‚’è€ƒãˆä¸å¯§ãªã‚³ãƒ¡ãƒ³ãƒˆã‚’å¿ƒãŒã‘ã¾ã—ã‚‡ã†ã€‚
          %br ä¸å¿«ãªè¨€è‘‰é£ã„ãªã©ã¯åˆ©ç”¨åˆ¶é™ã‚„é€€ä¼šå‡¦åˆ†ã¨ãªã‚‹ã“ã¨ãŒã‚ã‚Šã¾ã™ã€‚
          
        %button.commentbox__commentbtn
          =icon('fa','comment', class: "commentbtn-icon")
          ã‚³ãƒ¡ãƒ³ãƒˆã™ã‚‹

      .links
        %ur
          %li
            = link_to "#", class: "right" do
              æ¬¡ã®å•†å“ >
          %li
            = link_to "#", class: "left" do
              < å‰ã®å•†å“

    .relateditems
      = link_to "ãƒ™ãƒ“ãƒ¼ãƒ»ã‚­ãƒƒã‚ºã‚’ã‚‚ã£ã¨è¦‹ã‚‹", "#", class: "itemlists" 

= render "/items/banner"
= render "/items/footer"