= render "/items/header"

.category__parent--main
  .category__parent--content
    .category__parent--title
      = "#{@category.name}の商品一覧"

    .category__parent--listbox


  - @items.each do |item|
    - category = Category.find(item.category_id)
    = category.name
    = item.name
    = item.price

= render "/items/banner"
= render "/items/footer"