= render 'items/header'
.mypage__container
  - breadcrumb :logout
  = render "layouts/breadcrumbs"
  .mypage__inner
    = render 'mypage/parts/side_list'
    = render 'mypage/parts/logout'
= render 'items/banner'
= render 'items/footer'